/* GENERAL STYLES */
* {
  font-family: "Segoe UI", "JetBrainsMono NFP";
  font-size: var(--font-size-text);
  color: var(--color-text-main);
  font-weight: 600;
  padding: 0;
  margin: 0;
}
.yasb-bar {
  background-color: var(--color-background-main-transparent);
  padding: var(--widget-spacing);
  margin: 0;
}
.widget {
  padding: var(--widget-spacing);
  margin: 0;
}
.widget .label {
  padding: 0px 2px 2px 2px;
}
.widget .label.alt {
  padding: 1px 8px 1px 8px;
}
.icon {
  font-size: var(--font-size-icon);
}
.volume-widget .icon {
  margin: 1px 2px 0 0;
}
