/* AUDIO WIDGET */
.volume-widget {
  padding: 0 6px 0 6px;
}

.volume-slider {
  border: none;
}

.audio-menu {
  background-color: var(--color-background-main-transparent);
}

.audio-container .device {
  font-size: var(--font-size-text);
  background-color: transparent;
  padding: 6px 8px 6px 4px;
  border-radius: 4px;
  margin: 2px 0;
  border: none;
}

.audio-container .device.selected {
  background-color: var(--color-background-light-transparent-10);
}

.audio-container .device:hover {
  background-color: var(--color-background-light-transparent-20);
}
