/* CALENDAR POPUP */
.calendar {
  background-color: var(--color-background-main-transparent);
}
.calendar .calendar-table,
.calendar .calendar-table::item {
  background-color: transparent;
  color: var(--color-text);
  outline: none;
  border: none;
  padding: 0;
  margin: 0;
}
.calendar .calendar-table::item:selected {
  color: var(--color-text-hover);
}
.calendar .day-label {
  margin-top: 20px;
}
.calendar .day-label,
.calendar .month-label,
.calendar .date-label {
  font-size: var(--font-size-icon);
  color: var(--color-text-hover);
  font-weight: 700;
  min-width: 180px;
  max-width: 180px;
}
.calendar .month-label {
  font-weight: normal;
}
.calendar .date-label {
  color: var(--color-text-hover);
  margin-top: -20px;
  font-weight: 900;
  font-size: 88px;
}
